doctype html
html
    head
    body
        h2 Found #{duplicate_tracks.length} duplicates
        a.btn(href='http://localhost:3000/remove') Click to remove the following duplicate tracks:
        br
        br
        each track in duplicate_tracks 
            table #{track.name}: #{track.artist}
